<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Purchases

    <a data-toggle="collapse" href="#user_purchases_new_form">
      Add purchase
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.purchases.each do |purchase| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to purchase, purchase %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_purchases_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "users/user_purchases_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
