<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @item, partial: "card", as: :item %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "items/item_comments" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "items/item_purchases" %>
  </div>
</div>
  <!-- Show Page Customization end -->
